/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
    padding: 1rem;
}
// .sidebar div.container {
//     display: flex;
// }
.sidebar-title {
    float: left;
    width: 1.6em;
    margin: 2.4em auto 0 0;
}
@media (min-width: 22em) {
    .sidebar-title {
        width: 1.8em;
        margin: 1em auto 0 0;
    }
}
@media (min-width: 24em) {
    .sidebar-title {
        margin: 2em auto 0 0;
    }
}
@media (min-width: 28em) {
    .sidebar-title {
        margin: 5em auto 0 0;
        width: 25%;
    }
}
@media (min-width: 30em) {
    .sidebar-title {
        margin: 4em auto 0 0;
        width: 6em;
    }
}

/* About section - Site Lead */
.sidebar-detail {
    margin: 1em 0 1em 2em;
}
@media (min-width: 28em) {
    .sidebar-detail {
        margin: 1em 0 1em auto;
        width: 65%;
    }
}
.sidebar-about {
    margin: 0 0 0 auto;
}

/* Sidebar nav */
.sidebar-nav {
    padding-left: 0;
}
.sidebar-nav-item {
    display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: underline;
}
.sidebar-legal {
    margin: auto 0 0 0;
}

@media (min-width: 48em) {
    .sidebar {
        padding: 2rem 1rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 16em;
        text-align: left;
    }
    .sidebar-title {
        float: clear;
        margin: 0;
        width: 100%;
    }
    .sidebar-detail {
        margin: 0;
        width: auto;
    }

    // Sticky sidebar
    // Add the `sidebar-sticky` class to the sidebar's container to affix it the contents to the bottom of the sidebar in tablets and up.
    .sidebar-sticky {
        position: absolute;
        right:  1rem;
        bottom: 1rem;
        left:   1rem;
    }
}